{% extends "base.html" %}
{% block title %}Easter buddies{% endblock %}
{% block content %}
    <div class="container main-block">
        <h2>Find your Easter buddy!</h2>
        <div class="row">
            <form action="" method="post">
                <button type="submit" class="btn btn-primary reveal-btn">Reveal</button>
            </form>
        </div>
        <div class="person">
            {% if person %}
                Your buddy is
                <h3>{{ person.first_name }} {{ person.last_name }} {{ '<' }}{{ person.login.strip() }}@sanger.ac.uk{{ '>' }}    </h3>
            {% endif %}
        </div>

    </div>
{% endblock content %}